@model Horario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horario1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horario1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePacienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePacienteNavigation.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeRemedioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeRemedioNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
